{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <div class="row">
        <div class="col-4 "><img class="img-fluid" src="/{{ book.image }}" alt="{{ book.title }} book cover"></div>
        <div class="col-8">
            <div><b>Author: </b> {{ book.author }}</div>
            <div><b>Genre: </b> {{ book.genre }}</div>
            <br>
            <p>{{ book.description }}</p>
            <p>{{ book.price }}</p>
            <p>{{ book.pages }}</p>
            <p>{{ book.pub_date }}</p>
        </div>
    </div>
    <div class="media">
        <div class="media-body">
            {% for comment in comments %}
                <h5 class="mt-0">{{ comment.user }}</h5>
                <p>
                    {{ comment.comment }}
                </p>
            {% endfor %}
        </div>
    </div>

    {{ comment }}
    {% if user.is_authenticated %}
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
    {% endif %}
{% endblock %}
