{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <div class="row">
        <div class="col-4 "><img class="img-fluid" src="/{{ book.image }}" alt="{{ book.title }} book cover"></div>
        <div class="col-8">
            <div><b>Author: </b> {{ book.author }}</div>
            <div><b>Genre: </b> {{ book.genre }}</div>
            <br>
            <p>{{ book.description }}</p>
            {{ book.pub_date }}
        </div>
    </div>
{% endblock %}
