{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <div class="row">
        <div class="col-auto col-lg-6 img-fluid "><img class="img-fluid" src="/{{ book.image }}"
                                                       alt="{{ book.title }} book cover"></div>
        <div class="col-auto">
            <div><b>Author: </b> {{ book.author }}</div>
            <div><b>Genre: </b> {{ book.genre }}</div>
            <br>
            <p>{{ book.description }}</p>
            <p>{{ book.price }}</p>
            <p>{{ book.pages }}</p>
            <p>{{ book.pub_date }}</p>
            {% load crispy_forms_tags %}
            {% crispy cart_quantity cart_quantity.helper %}
            <!--<a href="{% url 'add_to_cart' id=book.id quantity=1 %}" class="btn btn-primary btn-lg active">Add To
                Cart</a>-->
        </div>
    </div>
    <div class="media">
        <div class="media-body">
            {% for comment in comments %}
                <div class="mt-0 font-weight-bolder">{{ comment.user }}</div>
                <small class="font-weight-lighter"> {{ comment.pub_date }}</small>
                <p>
                    {{ comment.comment }}
                </p>
            {% endfor %}
        </div>
    </div>

    {{ comment }}
    {% if user.is_authenticated %}
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
    {% endif %}
{% endblock %}
