{% extends "base.html" %}
{% block title %}
    Index
{% endblock %}

{% block content %}
    {% for book in books %}
        <a class="text-decoration-none text-dark" href="{% url 'detail' book.id %}">
            <div class="card" style="width: 18rem;">
                <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }} book cover">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description }}</p>
                </div>
                <div class="card-footer">
                    <small>{{ book.price }} &#36;</small>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
